{
  "presets": [
    [
      "@babel/env", 
          { 
            "modules": false
          }
    ],
    "@babel/react", 
    "@babel/typescript"
  ],
  "plugins": [
    [
      "import", 
        { 
          "libraryName": "antd", 
          "style": true
        }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}